*{
	margin:0;
	padding:0;
	background-color: #f0f0f0;
	
}


	

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 40px 300px 150px 150px 40px;
	grid-template-areas: "title title"
	" header header "
	" slidebar slidebar "
	" comments comments "
	" footer footer ";
	grid-gap:10px;
	} 

@media screen and (min-width:1170px) {


.grid {
	display: grid;
	grid-template-columns: 1fr 540px 540px 1fr;
	grid-template-rows: 50px 500px 300px 50px;
	grid-template-areas: " . title title . "
	" . header header . "
	" . slidebar comments . "
	" . footer footer . ";
	grid-gap:10px;
	} 

}
/* below three classes are almost same */

/* 01______________________ */

/* .title{

	grid-column:1/3;
} */


/* 02_______________________ */

/* .title{

	grid-column-end: span 2;
} */


/* 03_______________________ */

/* .title{
	grid-column-start:1;
	grid-column-end:3;
} */

.title {

	grid-area: title;

}

.header {

	grid-area: header;
}


.slidebar {

	grid-area: slidebar;
}

.comments {

	grid-area: comments;
	/* justify-self: start;  */
}


.footer {

	grid-area:footer;
}


.grid div:nth-child(even){
background-color: white;
}


.grid div:nth-child(odd){
background-color: white;
}
